body{
	width: 900px;
	align-content: center;
	margin: 30px auto auto;
	border: aqua;
	background: #00FFFF;
}

#view {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 900px;
//	background:aqua;
}
 .content{
        height: 150px;v
        overflow-x: hidden;
        銆�銆�銆�銆� overflow-y: scroll;
    }
.content::-webkit-scrollbar {
        display: none;
    }


#title{
	background-color: white;
	text-align:center;
	box-shadow: 5px 5px 5px #888888;
}
.item{
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
	background: #FFFFFF;
	width: 900px;
	height: 150px;
	opacity:1;
	box-shadow: 5px 5px 5px #888888;
	overflow: hidden;
}
.name{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 800px;
	height: 30px;
	overflow: hidden;
}
.text{
	margin-left: 110px;
	padding: 0 0 0 0;
	text-align: left;
	width: 690px;
	height: 100px;
	overflow: hidden;
}
.tips{
	margin-left: 110px;
	padding: 0 0 0 0;
	width: 690px;
	height: 20px;
	text-align: left;
	overflow: hidden;
}
.image{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 110px;
	height: 120px;
	float: left;
	clear: both;
	overflow: hidden;

}
.url{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100px;
	height: 150px;
	align-content: center;
	overflow: hidden;
	
}
.divleft{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 800px;
	float: left;
	clear: both;
	overflow: hidden;
}
.reightdiv{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100px;
	height: 150px;
	float: right;
	overflow: hidden;
}
#img{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100px;
	overflow: hidden;
}
#fileimg{
	width: 110px;
	height: 120px;
	overflow: hidden;
}