body{
	align-content: center;


}
div{
	overflow: hidden;
}
a{
	text-decoration: none;
	color: red;
}
a:hover{
	color: blue;
	opacity: inherit;
}
p{
	align-content: center;
	float: left;
	margin-left: 5px;
}
.div{
	margin: 5px auto auto;
	width: 300px;
	align-content: center;
}
#div{
	margin: 5px auto auto;
	width: 300px;
	align-content: center;
}
#error{
	align-content: center;
	width: 260px;
	height: 200px;
	padding: 0 0 0 0;
	margin-top: 150px;
	//margin-left: 200px;
}
#tips{
	color: red;
}
#count{
	color: red;
}