body{
	height: 100%;
	  width: 100%;
	background-image: url(../cssimage/wallpaper_5261211.jpg) ;
	  background-size: cover;
	  position: absolute;
	  overflow: hidden;

}
.div{
	height: 400px;
	background: white;
	opacity: 0.75;
	align-content: center;
	margin: 70px 70px auto auto;
	width: 300px;
	float: right;
	clear: both;
	border-radius:10px;
}
#img{
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	width: 80px;
	height: 40px;
}
#yzm{
	margin-left: 50px;
	width: 110px;
	height: 30px;
}
#username{
	margin-top: 40px;
	margin-left: 50px;
	width: 200px;
	height: 30px;
}
#password{
	margin-left: 50px;
	width: 200px;
	height: 30px;
	margin-top: 5px;
}
#submit{
	margin-left: 50px;
	width: 200px;
	margin-top: 5px;
}
p{
	margin: 2px 0 2px 0;
}
#img{
	cursor: pointer;
}
#submit:hover{
	cursor: pointer;
}
.div h1{
	margin-top: 30px;
	text-align: center;
}
#a{
	margin-left: 50px;
	color: black; 
	text-decoration:none;
}
#tip{
	margin-left: 50px;
}